.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--blue);
  background-image: url("../assets/pixel-bg.png");
  z-index: 5;
  display: none;
  animation: animatedBackground 75s linear infinite;
}

.modal {
  display: none;
  position: absolute;
  z-index: 6;
  top: 150%;
  left: 150%;
  width: min(80%, 600px);
  min-height: 500px;
  background-color: var(--modal-bg);
  color: rgb(23, 18, 18);
  font-size: 1.5em;
  backdrop-filter: blur(5px);
  border-top: 5px solid black;
  border-left: 5px solid black;
  box-shadow: 5px 5px black;
  opacity: 0.9;
  scale: 1;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;

  &.active {
    top: 50%;
    left: 50%;
    display: block;
    padding-top: 10px;
    padding-left: 40px;
    opacity: 0.9;
    scale: 1;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    transform-origin: center;
    animation: 1.2s linear modalMotion;
  }
  hr {
    margin-block: 5px;
    margin-bottom: red;
  }
}

.box {
  padding-top: 10px;
  h4,
  p {
    margin: 0;
  }

  h4 {
    font-size: 34px;
  }

  p {
    font-size: 20px;
  }
}

@keyframes modalMotion {
  0% {
    opacity: 0;
    transform: translate(-150%, -50%);
  }

  50% {
    opacity: 1;
    transform: translate(-110%, -50%);
  }
  75% {
    transform: translate(-55%, calc(-50% + 5px));
  }
  100% {
    transform: translate(-40%, -50%);
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0;
  }
  to {
    background-position: 2250px;
  }
}

.weather {
  position: absolute;
  bottom: 10px;
  right: 50px;
  background-color: transparent;
  width: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 950px) {
  .modal.active {
    padding-left: 30px;
  }
}

@media screen and (max-width: 700px) {
  .weather {
    width: 180px;
  }
}

@media screen and (max-width: 600px) {
  .modal.active {
    padding-left: 25px;
  }
  .weather {
    width: 150px;
    right: 50%;
    transform: translateX(50%);
  }
}

@media screen and (max-width: 415px) {
  .modal {
    padding: 10px;
    height: 300px;
    &.active {
      padding-left: 20px;
    }
  }

  .modal h1 {
    font-size: 28px;
  }
  .modal h4 {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .weather {
    bottom: 50px;
    width: 100px;
  }
}
