.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--blue);
  //   background-image: url("");
  z-index: 2;
  display: none;
  animation: animatedBackground 75s linear infinite;
}

.modal {
  display: none;
  position: absolute;
  z-index: 3;
  top: 150%;
  left: 150%;
  width: min(80%, 600px);
  height: 500px;
  background-color: rgb(255, 252, 214);
  color: rgb(23, 18, 18);
  font-size: 1.5em;
  backdrop-filter: blur(5px);
  border-top: 5px solid black;
  border-left: 5px solid black;
  box-shadow: 5px 5px black;
  scale: 0;
  border-radius: 20px;

  transition: all 0.5s ease-in-out;
  &.active {
    top: 50%;
    left: 50%;
    display: block;
    padding-top: 10px;
    padding-left: 15px;
    opacity: 0.9;
    scale: 1;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    animation: 0.8s linear modalMotion;
  }
  hr {
    margin-block: 5px;
    margin-bottom: red;
  }
}

.box {
  padding-top: 10px;
  h4,
  p {
    margin: 0;
  }

  h4 {
    font-size: 34px;
  }

  p {
    font-size: 20px;
  }
}

@keyframes modalMotion {
  0% {
    opacity: 0;
    transform: translate(-150%, -50%);
  }

  50% {
    opacity: 1;
    transform: translate(-110%, -50%);
  }
  75% {
    transform: translate(-55%, calc(-50% + 5px));
  }
  100% {
    transform: translate(-40%, -50%);
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0;
  }
  to {
    background-position: 2250px;
  }
}
