* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../assets/Cubic_11_1.013_R.woff2") format("woff2"),
    url("../assets/Cubic_11_1.013_R.woff") format("woff");
}

:root {
  --stroke-fill: #5b6fb4;
  --modal-bg: #fff;
  --blue: #2c6ac8;
  --storke: #1b1a19;
  --tw-bg: #bef9f9;
  --isClear: yellow;
  --isSunnywithCloudy: #aff758;
  --isOvercast: gray;
  --isThunderstorm: #d33030;
  --isRain: #4454d4;
  --isSnowing: #ff66ff;
  --selector-bg: rgb(126, 125, 122);
  --black-border: 5px solid black;
}

body {
  width: 100%;
  font-family: "MyWebFont", Fallback, sans-serif;
  cursor: url(../assets/cursor-hand.png) 2 2, pointer;
  overflow-x: hidden;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
  // min-height: 100vh;
  background-color: var(--tw-bg);
  background-image: url(../assets/tw-bg.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  #container {
    background-size: contain;
    background-image: url(../assets/tw-vertical-background.png);
  }
}

@import "./tw";
@import "./modal";
