* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../assets/Cubic_11_1.013_R.woff2") format("woff2"), url("../assets/Cubic_11_1.013_R.woff") format("woff");
}
:root {
  --stroke-fill: #5b6fb4;
  --modal-bg: #fff;
  --blue: #2c6ac8;
  --storke: #1b1a19;
  --tw-bg: #bef9f9;
  --isClear: yellow;
  --isSunnywithCloudy: #aff758;
  --isOvercast: gray;
  --isThunderstorm: #d33030;
  --isRain: #4454d4;
  --isSnowing: #ff66ff;
}

body {
  width: 100%;
  font-family: "MyWebFont", Fallback, sans-serif;
  cursor: url(../assets/cursor-hand.png) 2 2, pointer;
  overflow-x: hidden;
}

#container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--tw-bg);
  background-image: url(../assets/tw-bg.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  #container {
    background-size: contain;
    background-image: url(../assets/tw-vertical-background.png);
  }
}
svg {
  max-width: 90%;
  height: 90vh;
  transform: translateX(40%) translateY(20px);
}

path {
  stroke: var(--storke);
  stroke-width: 4.5;
  fill: transparent;
  transition: 0.4s;
}
path:hover {
  fill: var(--stroke-fill);
  transform: translate(-5px, -5px);
}

.title {
  position: absolute;
  top: 10%;
  left: 5%;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  font-size: 2rem;
}

.walking {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  width: 150px;
  -webkit-animation: 7s linear walkingMotion infinite;
          animation: 7s linear walkingMotion infinite;
}
.walking img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes walkingMotion {
  0% {
    left: 0;
    scale: 1;
    transform: translateY(0px);
  }
  5% {
    left: 5%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  10% {
    left: 10;
    scale: 1;
    transform: translateY(0px);
  }
  15% {
    left: 15%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  20% {
    left: 20%;
    scale: 1;
    transform: translateY(0px);
  }
  25% {
    left: 25%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  30% {
    left: 30%;
    scale: 1;
    transform: translateY(0px);
  }
  35% {
    left: 35%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  40% {
    left: 40%;
    scale: 1;
    transform: translateY(0px);
  }
  45% {
    left: 45%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  50% {
    left: 50%;
    scale: 1;
    transform: translateY(0px);
  }
  55% {
    left: 55%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  60% {
    left: 60%;
    scale: 1;
    transform: translateY(0px);
  }
  65% {
    left: 65%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  70% {
    left: 70%;
    scale: 1;
    transform: translateY(0px);
  }
  75% {
    left: 75%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  80% {
    left: 80%;
    scale: 1;
    transform: translateY(0px);
  }
  85% {
    left: 85%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  90% {
    left: 90%;
    scale: 1;
    transform: translateY(0px);
  }
  95% {
    left: 95%;
    scale: 1;
    transform: translateY(-50px);
  }
  100% {
    left: 100%;
    transform: translateY(0px);
  }
}

@keyframes walkingMotion {
  0% {
    left: 0;
    scale: 1;
    transform: translateY(0px);
  }
  5% {
    left: 5%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  10% {
    left: 10;
    scale: 1;
    transform: translateY(0px);
  }
  15% {
    left: 15%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  20% {
    left: 20%;
    scale: 1;
    transform: translateY(0px);
  }
  25% {
    left: 25%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  30% {
    left: 30%;
    scale: 1;
    transform: translateY(0px);
  }
  35% {
    left: 35%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  40% {
    left: 40%;
    scale: 1;
    transform: translateY(0px);
  }
  45% {
    left: 45%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  50% {
    left: 50%;
    scale: 1;
    transform: translateY(0px);
  }
  55% {
    left: 55%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  60% {
    left: 60%;
    scale: 1;
    transform: translateY(0px);
  }
  65% {
    left: 65%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  70% {
    left: 70%;
    scale: 1;
    transform: translateY(0px);
  }
  75% {
    left: 75%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  80% {
    left: 80%;
    scale: 1;
    transform: translateY(0px);
  }
  85% {
    left: 85%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  90% {
    left: 90%;
    scale: 1;
    transform: translateY(0px);
  }
  95% {
    left: 95%;
    scale: 1;
    transform: translateY(-50px);
  }
  100% {
    left: 100%;
    transform: translateY(0px);
  }
}
@-webkit-keyframes walkingMotion_mobile {
  0% {
    left: 0;
    transform: translateY(0px);
  }
  20% {
    left: 20%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  40% {
    left: 40%;
    scale: 1;
    transform: translateY(0px);
  }
  60% {
    left: 60%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  80% {
    left: 80%;
    scale: 1;
    transform: translateY(-70px);
  }
  100% {
    left: 100%;
    scale: 1.2;
    transform: translateY(0px);
  }
}
@keyframes walkingMotion_mobile {
  0% {
    left: 0;
    transform: translateY(0px);
  }
  20% {
    left: 20%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  40% {
    left: 40%;
    scale: 1;
    transform: translateY(0px);
  }
  60% {
    left: 60%;
    scale: 1.2;
    transform: translateY(-50px);
  }
  80% {
    left: 80%;
    scale: 1;
    transform: translateY(-70px);
  }
  100% {
    left: 100%;
    scale: 1.2;
    transform: translateY(0px);
  }
}
@media screen and (max-width: 1400px) {
  svg {
    transform: translateY(50px);
  }
}
@media screen and (max-width: 415px) {
  svg {
    transform: translateY(-40px);
  }
  .walking {
    bottom: 0px;
    width: 80px;
    -webkit-animation: 2.5s linear walkingMotion_mobile infinite;
            animation: 2.5s linear walkingMotion_mobile infinite;
  }
}
#close {
  position: fixed;
  top: calc(50% - 114px);
  left: calc(50% + 155px);
  z-index: 3;
  display: none;
  height: 50px;
  transform: translate(-50%, -50%);
}

.citySelector {
  position: absolute;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  display: none;
  padding: 10px;
  border: 5px dashed;
  z-index: 2;
  font-size: 1.5rem;
  background-color: rgb(126, 125, 122);
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  outline: 15px solid rgb(126, 125, 122);
  outline-offset: 0px;
}
.citySelector li {
  width: 100%;
  list-style-type: none;
  padding-inline: 40px;
  margin-bottom: 5px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--blue);
  background-image: url("../assets/pixel-bg.png");
  z-index: 5;
  display: none;
  -webkit-animation: animatedBackground 75s linear infinite;
          animation: animatedBackground 75s linear infinite;
}

.modal {
  display: none;
  position: absolute;
  z-index: 6;
  top: 150%;
  left: 150%;
  width: min(80%, 600px);
  min-height: 500px;
  background-color: var(--modal-bg);
  color: rgb(23, 18, 18);
  font-size: 1.5em;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-top: 5px solid black;
  border-left: 5px solid black;
  box-shadow: 5px 5px black;
  opacity: 0.9;
  scale: 1;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.modal.active {
  top: 50%;
  left: 50%;
  display: block;
  padding-top: 10px;
  padding-left: 40px;
  opacity: 0.9;
  scale: 1;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  -webkit-animation: 1.2s linear modalMotion;
          animation: 1.2s linear modalMotion;
}
.modal hr {
  margin-block: 5px;
  margin-bottom: red;
}

.box {
  padding-top: 10px;
}
.box h4,
.box p {
  margin: 0;
}
.box h4 {
  font-size: 34px;
}
.box p {
  font-size: 20px;
}

@-webkit-keyframes modalMotion {
  0% {
    opacity: 0;
    transform: translate(-150%, -50%);
  }
  50% {
    opacity: 1;
    transform: translate(-110%, -50%);
  }
  75% {
    transform: translate(-55%, calc(-50% + 5px));
  }
  100% {
    transform: translate(-40%, -50%);
  }
}

@keyframes modalMotion {
  0% {
    opacity: 0;
    transform: translate(-150%, -50%);
  }
  50% {
    opacity: 1;
    transform: translate(-110%, -50%);
  }
  75% {
    transform: translate(-55%, calc(-50% + 5px));
  }
  100% {
    transform: translate(-40%, -50%);
  }
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0;
  }
  to {
    background-position: 2250px;
  }
}
@keyframes animatedBackground {
  from {
    background-position: 0;
  }
  to {
    background-position: 2250px;
  }
}
.weather {
  position: absolute;
  bottom: 10px;
  right: 50px;
  background-color: transparent;
  width: 200px;
}
.weather img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 950px) {
  .modal.active {
    padding-left: 30px;
  }
}
@media screen and (max-width: 700px) {
  .weather {
    width: 180px;
  }
}
@media screen and (max-width: 600px) {
  .modal.active {
    padding-left: 25px;
  }
  .weather {
    width: 150px;
    right: 50%;
    transform: translateX(50%);
  }
}
@media screen and (max-width: 415px) {
  .modal {
    padding: 10px;
    height: 300px;
  }
  .modal.active {
    padding-left: 20px;
  }
  .modal h1 {
    font-size: 28px;
  }
  .modal h4 {
    font-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  .weather {
    bottom: 50px;
    width: 100px;
  }
}
.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  -webkit-animation: ripple 15s infinite;
          animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}

.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}/*# sourceMappingURL=style.css.map */