* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../assets/Cubic_11_1.013_R.woff2") format("woff2"),
    url("../assets/Cubic_11_1.013_R.woff") format("woff");
}

:root {
  --tw-bg2: #5b6fb4;
  --dark-blue: #190cab;
  --red: hsl(0, 63%, 48%);
  --modal-bg: #ffd513;
  --tw-bg: #f2d05a;
  --blue: #2c6ac8;
  --storke: #1b1a19;
}

body {
  width: 100%;
  font-family: "MyWebFont", Fallback, sans-serif;
  cursor: url(../assets/cursor-hand.png) 2 2, pointer;
  overflow: hidden;
}

svg {
  max-width: 90%;
  height: 90vh;
  transform: translateX(40%) translateY(50px);
}

path {
  stroke: var(--storke); //線條的背景是stroke
  stroke-width: 4.5;
  fill: transparent; //SVG的背景是fill
  transition: 0.4s;

  &:hover {
    fill: var(--blue);
    transform: translate(-5px, -5px);
  }
}

#container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: url(/tv.png);
}

@media screen and (max-width: 1400px) {
  svg {
    transform: translateY(50px);
  }
}

@media screen and (max-width: 415px) {
  svg {
    transform: translateY(50px);
  }
  .modal {
    padding: 10px;
    height: 300px;
  }
  .modal h1 {
    font-size: 28px;
  }
  .modal h4 {
    font-size: 25px;
  }
}

@import "./modal";
@import "./sunny";

.title {
  position: absolute;
  top: 30%;
  right: 5%;
  writing-mode: vertical-lr;
  font-size: 2rem;
}
